.content {
    grid-area: c;
    background-color: whitesmoke;
    border: 3px solid blue;
    border-radius: 10px;
}

.content img {
    max-width: 100%;
    border-radius: 7px;
    max-width: 100%;
}

.content .avatar {
    max-width: 150px;
}
