.header {
    grid-area: h;
    background-image: url("https://picsum.photos/1920/140");
    border: 3px solid blue;
    border-radius: 10px;
    box-sizing: border-box;
}

.header img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
}

.loginBlock {
    float: right;
    margin: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.loginBlock a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
