.header {
    grid-area: h;
    background-color: whitesmoke;
    border: 3px solid blue;
    border-radius: 10px;
}

.header img {
    /*max-width: 54px;*/
    max-height: 54px;
    border-radius: 7px;
}
