.nav {
    grid-area: n;
    background-color: whitesmoke;
    min-height: 100px;
    border: 3px solid blue;
    border-radius: 10px;
}

nav a {
    color: rgb(192, 59, 103);
    font-weight: 800;
    text-decoration: none;
}

.nav a {
    display: block;
    margin: 20px;
}

.nav a:hover {
    text-decoration: none;
    color: red;
}

.item.settings {
    color: rgb(62, 12, 95);
}

.item a.active {
    color: darkblue;
}